<h2>Client Registration</h2>
<form [formGroup]="clientRegForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName">                
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName">                
            </div>
            <div class="form-group">
                <label for="dob">Dob</label>
                <input type="date" class="form-control" id="dob" formControlName="dob">                
            </div>
            <div class="form-group">
                <label for="emailAddress">Email Address</label>
                <input type="email" class="form-control" id="emailAddress" formControlName="emailAddress">                
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">                
            </div>
            <div class="form-group">
                <label for="password">Confirm password</label>
                <input type="password" class="form-control" id="password" formControlName="password">                
            </div>
        </div>

        <div class="col-md-6">
            <div formGroupName="address">
                <div class="form-group">
                    <label for="line1">Address</label>
                    <input type="text" class="form-control" id="line1" formControlName="line1">                
                </div>
                <div class="form-group">
                    <label for="line2"></label>
                    <input type="text" class="form-control" id="line2" formControlName="line2">                
                </div>
                <div class="form-group">
                    <label for="line3"></label>
                    <input type="text" class="form-control" id="line3" formControlName="line3">                
                </div>
                <div class="form-group">
                    <label for="suburb">Suburb</label>
                    <input type="text" class="form-control" id="suburb" formControlName="suburb">                
                </div>
                <div class="form-group">
                    <label for="postcode">Postcode</label>
                    <input type="text" class="form-control" id="postcode" formControlName="postcode">                
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country" formControlName="country">                
                </div>
            </div>
        </div>
    </div>
   

      <button type="submit" [disabled]="!clientRegForm.valid" class="btn btn-primary">Submit</button>
</form>
